body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: url('../images/gaming-pattern.png'); /* Background pattern from Subtle Patterns */
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 505px;
    margin: 0 auto;
    padding-top: 2em;
    font-size: 1.3em;
    text-align: center;
}

.score-panel .lives {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.lives li {
    list-style: none;
    display: inline-block;
    color: red;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the Modal
 */

.modal {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal.hidden {
    visibility: hidden;
}

.modal-content {
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: #fff;
    border: 1px solid rgba(2, 204, 186, 0.35);
    box-shadow: 3px 2px 20px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    text-align: center;
    animation: animatemodal 0.4s;
    color: #02ccba;
}

.modal-title {
    font-size: 2em;
    margin: 0;
    padding-top: 1em;
}

.modal-span {
    display: block;
    padding: 1em 0 2em 0;
    font-size: 0.7em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.play-button {
    color: #fff;
    background-color: #eb09ef;
    font-size: 1em;
    padding: 12px 20px;
    margin: 1em 0 2em 0;
    border-radius: 51px;
    border: 0;
}

.play-button:hover {
    cursor: pointer;
}

/*
 * Animations
 */

@keyframes animatemodal {
   from {top: -300px; opacity: 0}
   to {top: 0; opacity: 1}
}
